@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.75) 0%,
    rgba(9, 9, 121, 0.75) 35%,
    rgba(0, 212, 255, 0.75) 100%
  );
  color: white;
}
a{
  color: white;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
